:root {
  --main-color: #ff6d1f;
  --main-muted-color: rgb(210, 78, 7);
  --secondary-color: #0072ec;
  --background-color: #111111;
  --background-secondary-color: #080808;
  --font-family: 'Lato', sans-serif;
}
